{% extends 'Userapp/base.html' %}
{% load static %}

{% block content %}



<form class="form-horizontal" method="POST" action="{% url 'user:edit' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{edit_form.as_p}} 
    {{profile_form.as_p}}
    <input type="submit" class="form-control" value="сохранить">
</form>

    <a href="{% url 'main' %}" class="btn btn-round form-control last btn-block" role="button">на главную</a>

{% if user.avatar %}
<div class="user-avatar"><img src="{{media_url}}{{user_avatar}}"></div>
{% endif %}

{% endblock content %}
