<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            {{title|title}}
        {% endblock title %}
            
    </title>
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css'}">
    {% endblock css %}
    
    {% block js %}
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'js/order_script.js' %}"></script>  
    {% endblock js %}
        
        
</head>
<body>
    <div class="order-container">
        
        {% block content %}
            
        {% endblock content %}
            
    </div>
</body>
</html>